<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Media Detail</h1>
    <p>
        <h4>id: <%= media.id %></h4>
        <h4>name: <%= media.mediaName %></h4>
        <h4>category: <%= media.category %></h4>
        <h4>url: <%= media.url %></h4>
    </p>
    <a href='/'> back </a>
</body>
</html>
