<head>
  <title>About-Nicole</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/homeRegister.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-4.css' />

</head>
<!-- Navbar code below -->
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Gator Media
    </div>
  </div>
  <div class="nav-btn ">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links ">
    <a href="/">Home</a>
  </div>
  <div class="nav-links" style="margin-left: auto !important">
      <a href="/users/about">About</a>
      <a href="/users/login">Login</a>
      <a href="/users/register">Register</a>
    </div>
</div>

<!-- About -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/views/bootstrap-4.css">
    <style>
        body {
            background: #d6ffef
        }
    </style>
</head>
<body>
    <div class="card" style="width: 30rem;">
        <img src="/images/about-nicole.jpg" class="card-img-top" alt="About Me">
        <div class="card-body">
          <h5 class="card-title">Nicole Bernardo</h5>
          <p class="card-text">San Francisco State University Student</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Major: Computer Science</li>
          <li class="list-group-item">Hobbies: Playing ukulele, singing, working out</li>
          <li class="list-group-item">Email: nbernard@mail.sfsu.edu</li>
        </ul>
        <div class="card-body">
          <a href="https://github.com/nbernardo96" class="card-link">Github</a>
        </div>
      </div>
</body>
</html>