<head>
  <title>About-Olivia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/homeRegister.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-4.css' />

</head>
<!-- Navbar code below -->
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <a href="/" style= "color:white">Gator Media</a>
    </div>
  </div>
  <div class="nav-btn ">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>


  <div class="nav-links" style="margin-left: auto !important">
      <a href="/users/about">About</a>
      <a href="/users/login">Login</a>
      <a href="/users/register">Register</a>
    </div>
</div>

<!-- About -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/views/bootstrap-4.css">
    <style>
        body {
            background: #a2b5cd
        }
    </style>
</head>
<body>
    <div class="card" style="width: 30rem;">
        <img src="/images/about-olivia.jpg" class="card-img-top" alt="About Me Photo">
        <div class="card-body">
          <h5 class="card-title">Olivia Wissig</h5>
          <p class="card-text">Student at San Francisco State University
              <br>Technical Expert at Apple Stonestown
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Major: Computer Science</li>
          <li class="list-group-item">Hobbies: Watching The Office</li>
          <li class="list-group-item">Email: <a href = "mailto: owissig@mail.sfsu.edu">owissig@mail.sfsu.edu</a></li>
        </ul>
        <div class="card-body">
          <a href="https://github.com/oliviawissig" class="card-link">Github</a>
        </div>
      </div>
</body>
</html>