<head>
<title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap-4.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>

</head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand home-btn" href="/">Gator Media</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li>
                <div class="navbar-links">
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-4 navbar-link" href="/users/about">About</a>
                      </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-4 navbar-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-4 navbar-link" href="/users/register">Register</a>
                    </li>
                </div>
            </li>
          </ul>
        </div>
      </nav>
<!-- About -->
<head>
    <link rel="stylesheet" href="../../css/views/bootstrap-4.css">
    <link rel="stylesheet" href="../../css/views/about.css">
    <style>
        body {
            background: #d6ffef
        }
        
        h1 {
            text-align: center;
        }
        
        h5 {
            text-align: center;
        }
    </style>
</head>
<section>
    <h5>SFSU Software Engineering Project CSC 648-848, Spring 2020, For Demonstration Use Only</h5>
    <h1>Spring 2020</h1>
    <h1>Section 01</h1>
    <h1>Team 05</h1>
    <div class="container py-4">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card p-2 nicole">
                    <a class="card-block stretched-link text-decoration-none" href="about-ahmad">
                        <h4 class="card-title">Ahmad Moussalli</h4>
                        <p class="card-text">Team Lead</p>
                    </a>
                </div>
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="about-felipe">
                        <h4 class="card-title">Felipe Carmona</h4>
                        <p class="card-text">Frontend Team Lead</p>
                    </a>
                </div>
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="about-pak">
                        <h4 class="card-title">Pak Lik Siu</h4>
                        <p class="card-text">Backend Team Lead</p>
                    </a>
                </div>
            </div>



            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card p-2">
                        <a class="card-block stretched-link text-decoration-none" href="about-viral">
                            <h4 class="card-title">Viral Amin</h4>
                            <p class="card-text">Github Master</p>
                        </a>
                    </div>
                    <div class="card p-2">
                        <a class="card-block stretched-link text-decoration-none" href="about-nicole">
                            <h4 class="card-title">Nicole Bernardo</h4>
                            <p class="card-text">Frontend Team Member</p>
                        </a>
                    </div>
                    <div class="card p-2">
                        <a class="card-block stretched-link text-decoration-none" href="about-olivia">
                            <h4 class="card-title">Olivia Wissig</h4>
                            <p class="card-text">Frontend Team Member</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


</section>