<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/homeRegister.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-4.css' />

</head>
<!-- Navbar code below -->
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <a href="/" style= "color:white">Gator Media</a>
    </div>
  </div>
  <div class="nav-btn ">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>


  <div class="nav-links" style="margin-left: auto !important">
      <a href="/users/about">About</a>
      <a href="/users/login">Login</a>
      <a href="/users/register">Register</a>
    </div>
</div>

<!-- About -->
<head>
    <link rel="stylesheet" href="../../css/views/bootstrap-4.css">
    <link rel="stylesheet" href="../../css/views/about.css">
    <style>
        body {
            background: #d6ffef
        }
    </style>
</head>
<section>
    <h1>Software Engineering Class SFSU</h1>
    <h1>Spring 2020</h1>
    <h1>Section 01</h1>
    <h1>Team 05</h1>
    <div class="container py-4">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card p-2 nicole">
                    <a class="card-block stretched-link text-decoration-none" href="about-ahmad">
                        <h4 class="card-title">Ahmad Moussalli</h4>
                        <p class="card-text">Team Lead</p>
                    </a>
                </div>
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="about-felipe">
                        <h4 class="card-title">Felipe Carmona</h4>
                        <p class="card-text">Frontend Team Lead</p>
                    </a>
                </div>
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="about-pak">
                        <h4 class="card-title">Pak Lik Siu</h4>
                        <p class="card-text">Backend Team Lead</p>
                    </a>
                </div>
            </div>



            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card p-2">
                        <a class="card-block stretched-link text-decoration-none" href="about-viral">
                            <h4 class="card-title">Viral Amin</h4>
                            <p class="card-text">Github Master</p>
                        </a>
                    </div>
                    <div class="card p-2">
                        <a class="card-block stretched-link text-decoration-none" href="about-nicole">
                            <h4 class="card-title">Nicole Bernardo</h4>
                            <p class="card-text">Frontend Team Member</p>
                        </a>
                    </div>
                    <div class="card p-2">
                        <a class="card-block stretched-link text-decoration-none" href="about-olivia">
                            <h4 class="card-title">Olivia Wissig</h4>
                            <p class="card-text">Frontend Team Member</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


</section>