<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-4.css' />
    <link rel='stylesheet' href='/stylesheets/home-page.css' />

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark gatormedia-nav">
            <div>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="navbar-brand">Gator Media</li>
                <li class="nav-item active">
                  <a class="nav-link home-btn" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li><form action="/" method="post">
                    <input type="search" class="search-container" name="term" ,placeholder="video name, audio name etc" />
                    <select name='category' class="category-dropdwn">
                        <option class="category-dropdwn">All categories</option>
                    </select>
                    <input type="submit" class="search-btn" value="Search" href="/search" />
                </form></li>
                <li><button class="sell-btn" onclick="window.location.href = '/users/sell'">Sell/Post</button></li>
                <li class="about-btn"><a href='/users/about' class=" nav-link">About</a></li>
                <li class="login-btn"><a href='/users/login' class=" nav-link">Login</a></li>
                <li class="register-btn"><a href='/users/register' class="nav-link">Register</a></li>
                <!-- <li><form action="/logout?_method=DELETE" method="POST">
                    <button class="logout-btn" type="submit" onclick="logoutMessage()"> Logout </button>
                </form></li> -->
              </ul>
              <script>
                function logoutMessage() {
                    alert("successful log out!");
                }
            </script>
            </div>
          </nav>

        <div class="container px-5" style="margin-top:40px">
            <h2 style="text-align:center">Admin Dashboard</h2>
            <p>This is your administrator dashboard. Here you can see posts that are waiting administrator approval, users you can manage, and all posts that have been approved and posted.</p>
            <br>
            <h4>Pending Posts</h4>
            <p>Posts waiting for admin approval will appear here.</p>
            <div class="row">
                <div class="col">
                    <div class="card" style="width:300px">
                      <img class="card-img-top" src="blank.png" alt="image">
                      <div class="card-body">
                        <h4 class="card-title">Post title</h4>
                        <p class="card-text">Some example text. The description for the post will preview here.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width:300px">
                      <img class="card-img-top" src="blank.png" alt="image">
                      <div class="card-body">
                        <h4 class="card-title">Post title</h4>
                        <p class="card-text">Some example text. The description for the post will preview here.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width:300px">
                      <img class="card-img-top" src="blank.png" alt="image">
                      <div class="card-body">
                        <h4 class="card-title">Post title</h4>
                        <p class="card-text">Some example text. The description for the post will preview here.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                      </div>
                    </div>
                </div>
            </div>
            <br><br>
            <h4>Manage Users</h4>
            <p>List of users an admin can manage.</p>
            <br><br>
            <h4>All Posts</h4>
            <p>Your posts awaiting approval will appear here.</p>
            <div class="row">
                <div class="col">
                    <div class="card" style="width:300px">
                      <img class="card-img-top" src="blank.png" alt="image">
                      <div class="card-body">
                        <h4 class="card-title">Post title</h4>
                        <p class="card-text">Some example text. The description for the post will preview here.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width:300px">
                      <img class="card-img-top" src="blank.png" alt="image">
                      <div class="card-body">
                        <h4 class="card-title">Post title</h4>
                        <p class="card-text">Some example text. The description for the post will preview here.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width:300px">
                      <img class="card-img-top" src="blank.png" alt="image">
                      <div class="card-body">
                        <h4 class="card-title">Post title</h4>
                        <p class="card-text">Some example text. The description for the post will preview here.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
  </html>