<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/home-page.css' />
  <link rel='stylesheet' href='/stylesheets/homeRegister.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-4.css' />

</head>
<!-- Navbar code below -->
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Gator Media
    </div>
  </div>
  <div class="nav-btn ">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links ">
    <a href="/">Home</a>
  </div>
  <div class="nav-links" style="margin-left: auto !important">
      <a href="/users/about">About</a>
      <a href="/users/login">Login</a>
      <a href="/users/register">Register</a>
    </div>
</div>
   <!-- Login code below -->
   <style>
       .login,
   .image {
     min-height: 100vh;
   }

   .bg-image {
     background-image: url('/images/csc648img.jpg');
     background-size: cover;
     background-position: center center;
   }
   body {
     background-color: #F2F2F2;
}

   </style>
   <body>
   <div class="container-fluid">
       <div class="row no-gutter">
           <!-- The image half -->
           <div class="col-md-6 d-none d-md-flex bg-image"></div>


           <!-- The content half -->
           <div class="col-md-6 bg-light">
               <div class="login d-flex align-items-center py-5">

                   <!-- Demo content-->
                   <div class="container">
                       <div class="row">
                           <div class="col-lg-10 col-xl-7 mx-auto">
                               <h3 class="display-4" style="color:#000000">Welcome</h3>
                               <!-- work on this-->

       <form action="/users/login" method="POST">
           <div class="control-group">
   <!--            <label for="email" class="control-label">Email</label>-->

               <div class="form-group mb-3">
                   <input id="email" type="email" name="email" placeholder="Email address" autofocus=""
                          class="form-control rounded-pill border-0 shadow-sm px-4"  required>
               </div>
           </div>
           <div class="form-group mb-3">
   <!--            <label for="password" class="control-label">Password</label>-->

               <div class="form-group mb-3">
                   <input id="password" type="password" name="password" placeholder="Password"
                          class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                          required>
               </div>
           </div>
           <div class="custom-control custom-checkbox mb-3">
                                       <input id="customCheck1" type="checkbox"  class="custom-control-input" >
                                       <label for="customCheck1" class="custom-control-label">Remember password</label>
                                   </div>
           <div class="form-group mb-3">
               <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" style="color:#000000">Sign in</button>
   <a href="" style="color:#000000">Forgot Password?</a>
           </div>
       </form>

                           </div>
                       </div>
                   </div><!-- End -->

               </div>
           </div><!-- End -->

       </div>
   </div>
   </body>
