<head>
  <title>Login</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap-4.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>

<style>
    h5 {
        text-align: center;
    }
</style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand home-btn" href="/">Gator Media</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li>
                <div class="navbar-links">
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-4 navbar-link" href="/users/about">About</a>
                      </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-4 navbar-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-4 navbar-link" href="/users/register">Register</a>
                    </li>
                </div>
            </li>
          </ul>
        </div>
      </nav>
   <!-- Login code below -->
   <style>
       .login,
   .image {
     min-height: 100vh;
   }

   .bg-image {
     background-image: url('/images/csc648img.jpg');
     background-size: cover;
     background-position: center center;
   }
   body {
     background-color: #F2F2F2;
}

   </style>
   <body>
    <h5>SFSU Software Engineering Project CSC 648-848, Spring 2020, For Demonstration Use Only</h5>
   <div class="container-fluid">
       <div class="row no-gutter">
           <!-- The image half -->
           <div class="col-md-6 d-none d-md-flex bg-image"></div>


           <!-- The content half -->
           <div class="col-md-6 bg-light">
               <div class="login d-flex align-items-center py-5">

                   <!-- Demo content-->
                   <div class="container">
                       <div class="row">
                           <div class="col-lg-10 col-xl-7 mx-auto">
                           <h1 class="display-4">Welcome to Gator Media</h1>
                           &nbsp

                               <h2 class="display-5" style="color:#000000">Please Sign In</h2>
                               <!-- work on this-->

       <form action="/users/login" method="POST">
           <div class="control-group">
   <!--            <label for="email" class="control-label">Email</label>-->

               <div class="form-group mb-3">
                   <input id="email" type="email" name="email" placeholder="Email address" autofocus=""
                          class="form-control rounded-pill border-0 shadow-sm px-4"  required>
               </div>
           </div>
           <div class="form-group mb-3">
   <!--            <label for="password" class="control-label">Password</label>-->

               <div class="form-group mb-3">
                   <input id="password" type="password" name="password" placeholder="Password"
                          class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                          required>
               </div>
           </div>
           <div class="custom-control custom-checkbox mb-3">
                                       <input id="customCheck1" type="checkbox"  class="custom-control-input" >
                                       <label for="customCheck1" class="custom-control-label">Remember password</label>
                                   </div>
           <div class="form-group mb-3">
               <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" style="color:#000000">Sign in</button>
   <a href="" style="color:#000000">Forgot Password?</a>
           </div>
       </form>

                           </div>
                       </div>
                   </div><!-- End -->

               </div>
           </div><!-- End -->

       </div>
   </div>
   </body>
