<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-4.css' />
    <link rel='stylesheet' href='/stylesheets/home-page.css' />
    <link rel='stylesheet' href='/stylesheets/post-page.css' />

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark gatormedia-nav">
            <div>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="navbar-brand">Gator Media</li>
                <li class="nav-item active">
                  <a class="nav-link home-btn" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li><form action="/" method="post">
                    <input type="search" class="search-container" name="term" ,placeholder="video name, audio name etc" />
                    <select name='category' class="category-dropdwn">
                        <option class="category-dropdwn">All categories</option>
                    </select>
                    <input type="submit" class="search-btn" value="Search" href="/search" />
                </form></li>
                <li><button class="sell-btn" onclick="window.location.href = '/users/sell'">Sell/Post</button></li>
                <li class="about-btn"><a href='/users/about' class=" nav-link">About</a></li>
                <li class="login-btn"><a href='/users/login' class=" nav-link">Login</a></li>
                <li class="register-btn"><a href='/users/register' class="nav-link">Register</a></li>
                <!-- <li><form action="/logout?_method=DELETE" method="POST">
                    <button class="logout-btn" type="submit" onclick="logoutMessage()"> Logout </button>
                </form></li> -->
              </ul>
              <script>
                function logoutMessage() {
                    alert("successful log out!");
                }
            </script>
            </div>
          </nav>

    <div class="container px-5" style="margin-top:40px">

          <div class="col-sm-8"></div>
          <h2 style="text-align:center">Sell/Post</h2>

          <img src="https://via.placeholder.com/400?text=Upload+a+photo" alt="Chania" class="mx-auto d-block">
          <button type="button" class="btn btn-light float-right">upload</button>
          <div class="form-group pt-5">
              <label for="description">Description:</label>
              <textarea class="form-control" rows="5" id="description" name="text" placeholder="Enter a description for your content..."></textarea>
          </div>

          <button type="button" class="btn btn-success float-right">post</button>
    </div>


    </body>
  </html>