<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/views/bootstrap-4.css">
    <style>
        body {
            background: #d6ffef
        }
    </style>
</head>
<body>
    <div class="card" style="width: 30rem;">
        <img src="../../img/aboutme/" class="card-img-top" alt="About Me Photo">
        <div class="card-body">
          <h5 class="card-title">Felipe Carmona</h5>
          <p class="card-text">Something Here</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Major: Computer Science</li>
          <li class="list-group-item">Hobbies:</li>
          <li class="list-group-item">Email:</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Link To Something</a>
        </div>
      </div>
</body>
</html>