.site-header {
    text-align: center;
}

/* content/cards styling */

.container-home {
    margin-top: 40px;
    margin-left: 4rem;
    display: grid;
    grid-gap: 1rem;
}

.card-posts {
    margin: 0 auto;
}

/* responsiveness for cards */

@media (min-width: 680px) {
    .container-home { 
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 2rem;
    }
}

@media (min-width: 980px) {
    .container-home { 
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 3rem;
    }
}

@media (min-width: 1300px) {
    .container-home { 
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4rem; 
    }
}