h1 {
    text-align: center;
    padding: 15px;
    font-family: Roboto;
    color: rgb(99, 97, 97)
}

p {
    font-size: 21px;
    font-family: Roboto;
    color: rgb(110, 110, 110);
    text-align: center;
}

body {
    background-color: rgb(241, 239, 239) !important;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
    height: auto;
}

.contact-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

    width: 115px;
    height: 35px;

    background: rgb(167, 238, 170);

    font-size: 20px;

}

.media-about {
    display: none;
}

